<li>
  <a href="<%= trip_path(trip) %>" class="clearfix">
    <span>
      <% image = trip.title_image %>
      <% if image %>
        <%= image_tag(image.thumb('120x120').url,
          alt: image.title) %>
      <% end %>
      <div class="trip-data">
        <h2><%= trip.name %></h2>
        <p><%= Trip.human_attribute_name(:no_of_bunks) %>: 
          <%= trip.no_of_bunks %><br>
          <%= Trip.human_attribute_name(:price) %>: 
            <%= trip.number_to_currency(trip.price) %>   
        </p>       
      </div>
    </span>
  </a>
</li>