<div id="trip-dates">
  <h2>Termine</h2>
  <% if trip_dates.any? %>
    <p>Dieser Törn ist an folgenden Terminen verfügbar:</p>
    <table>
      <tr>
        <th><%= TripDate.human_attribute_name(:begin_date) %></th>
        <th><%= TripDate.human_attribute_name(:end_date) %></th>
        <th><%= TripDate.human_attribute_name(:no_of_available_bunks) %></th>
      </tr>
      <% trip_dates.each do |d| %>
        <tr>
          <td><%= l(d.begin_date) %></td>
          <td><%= l(d.end_date) %></td>
          <td><%= d.no_of_available_bunks %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>Für diesen Törn sind keine Termine festgelegt.</p>
  <% end %>
</div>