<% provide(:title, "Törns") %>
<h1><%= @trip.name %></h1>
<div class="clearfix">
  <%= render partial: 'shared/image_gallery', 
    locals: { title_image: @trip.title_image,
              other_images: @trip.other_images } %>
</div>
<p><%= @trip.description %></p>

<%= render partial: 'trip_data', locals: { trip: @trip } %>

<%= render partial: 'boat', locals: { boat: @trip.boat } %>

<%= render partial: 'trip_dates', locals: { trip_dates: @trip.trip_dates } %>