<% provide(:title, "Törns") %>
<h1><%= @trip.name %></h1>
<div class="clearfix">
  <%= render partial: 'shared/image_gallery', 
    locals: { title_image: @trip.title_image,
              other_images: @trip.other_images } %>
</div>
<div class="twocol clearfix">
  <div class="twocol-col1 trip-description">
    <p><%= @trip.description %></p>
    <%= render partial: 'trip_data', locals: { trip: @trip } %>
    <%= render partial: 'boat', locals: { boat: @boat } %>
  </div>
  <div class="twocol-col2">
    <%= render partial: 'trip_dates', locals: { trip_dates: @trip_dates } %>
  </div>
</div>