<h2>Anfrage für <%= boat.name %></h2>
<%= semantic_form_for boat_inquiry do |i| %>
  <%= i.inputs "Angaben zum Schiff" do %>
    <%= i.input :boat_id, as: :hidden, value: boat.id %>
    <%= i.input :begin_date, as: :ui_date_picker %>
    <%= i.input :end_date, as: :ui_date_picker %>
    <%= i.input :adults, as: :select, collection: 1..(boat.max_no_of_people || 6) %>
    <%= i.input :children, as: :select, collection: 0..(boat.max_no_of_people || 6) %>
  <% end %>
  <%= i.inputs "Persönliche Angaben" do %>
    <%= i.input :first_name %>
    <%= i.input :last_name %>
    <%= i.input :email %>
    <%= i.input :text %>
  <% end %>
  <%= i.actions do %>
    <%= i.action :submit, label: "Absenden" %>
    <%= i.action :cancel, label: "Verwerfen", url: boat_path(boat) %>
  <% end %>
<% end %>