<h2>Anfrageformular</h2>
<%= semantic_form_for inquiry do |i| %>
  <%= i.inputs :first_name, :last_name, :email, :text %>
  <%= i.actions do %>
    <%= i.action :submit, label: "Absenden" %>
    <%= i.action :cancel, label: "Verwerfen", url: root_path %>
  <% end %>
<% end %>