<li>
  <h1><%= boat.name %></h1>
  <table>
    <tr>
      <td><%= Boat.human_attribute_name('manufacturer') %></td>
      <td><%= boat.manufacturer %></td>
    </tr>
    <tr>
      <td><%= Boat.human_attribute_name('model') %></td>
      <td><%= boat.model %></td>
    </tr>
  </table>
</li>