<li>
  <a href="<%= boat_path(boat) %>" class="clearfix">
    <span>
      <% image = boat.title_image %>
      <% if image %>
        <%= image_tag(image.thumb('120x120').url,
          alt: image.title) %>
      <% end %>
      <div class="boat-data">
        <h2><%= boat.name %></h2>
        <p>
          <%= boat.model %><br/>
          <%= Boat.human_attribute_name(:year_of_construction) %> <%= boat.year_of_construction %>
        </p>
        <table>
          <tr>
            <td><%= Boat.human_attribute_name(:max_no_of_people) %></td>
            <td><%= boat.max_no_of_people %></td>
          </tr>
          <tr>
            <td><%= Boat.human_attribute_name(:recommended_no_of_people) %></td>
            <td><%= boat.recommended_no_of_people %></td>
          </tr>
        </table>
      </div>
    </span>
  </a>
</li>