<li>
  <%= block_link_to trip_path(trip), class: "clearfix" do %>
    <% image = trip.title_image %>
    <% if image %>
      <%= image_tag(image.thumb('100x100').url,
        alt: image.title) %>
    <% end %>
    <h3><%= trip.name %></h3>
    <p>
      maximale Personenzahl: <%= trip.no_of_bunks %><br>
      Preis: <%= number_to_currency(trip.price) %>
    </p>
  <% end %>
</li>