<h1><%= @boat.name %></h1>
<div class="twocol clearfix">
  <div class="twocol-col1 w400">
    <%= render partial: 'image_gallery', 
      locals: { title_image: @boat.title_image, 
                other_images: @boat.other_images } %>
  </div>
  <div class="twocol-col2">
    <%= render partial: 'technical_data',
      locals: { boat: @boat } %>

    <%= render partial: 'trip_list',
      locals: { trips: @boat.trips } %>

    <%= render partial: 'boat_charter',
      locals: { boat: @boat, seasons: @seasons, 
                boat_price_types: @boat_price_types } %>    
  </div>
</div>
