<h1><%= @boat.name %></h1>
<h2><%= t('technical_data') %></h2>
<table>
  <% { manufacturer: nil, model: nil, year_of_construction: nil,
      length_hull: { as: :linear },
      length_waterline: { as: :linear },
      beam: { as: :linear },
      draft: { as: :linear },
      air_draft: { as: :linear },
      displacement: { as: :mass },
      sail_area_jib: { as: :area },
      sail_are_genoa: { as: :area },
      sail_area_main_sail: { as: :area },
      tank_volume_diesel: { as: :volume },
      tank_volume_fresh_water: { as: :volume },
      tank_volume_waste_water: { as: :volume } }.each do |a, o| %>
    <% if @boat[a] %>
      <tr>
        <td><%= Boat.human_attribute_name(a) %></td>
        <td>
          <% if o %>
              <%= number_with_del(@boat[a], o) %>
            <% else %>
              <%= @boat[a] %>
            <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>  
<% if @boat.images.any? %>
  <h2>Bilder</h2>
  <% @boat.images.each do |i| %>
    <%= image_tag(i.attachment.thumb('300x300').url, alt: i.attachment_title) %>
  <% end %>
<% end %>
<% if @boat.trips.any? %>
  <h2>Törns mit diesem Schiff</h2>
  <ul>
    <% @boat.trips.each do |trip| %>
      <li><%= link_to trip.name, trip_path(trip) %></li>
    <% end %>
  </ul>
<% end %>
<% if @boat.available_for_boat_charter %>
  <h2>Schiffscharter</h2>
  <p>Sie können dieses Schiff zu folgenden Preisen chartern</p>
  <table>
    <tr>
      <th>Charterdauer</th>
      <% @seasons.each do |s| %>
        <th><%= s.name %></th>
      <% end %>
    </tr>
    <% @boat_price_types.each do |t| %>
      <tr>
        <td><%= t.name %></td>
        <% @seasons.each do |s| %>
          <td>
            <% price = @boat.prices(s, t) %>
            <%= price.value ? number_to_currency(price.value) : "-" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

