<nav>
  <div id="nav-frame" class="clearfix">
    <ul>
      <li id="start"><%= link_to "Startseite", static_page_path("start") %></li>
      <li id="boat">
        <% if Boat.first %>
          <%= link_to "Die Palve", boat_path(Boat.first) %>
        <% end %>
      </li>
      <li id="trips"><%= link_to "Törns", trips_path %>
        <ul class="menu-trip-list">
          <% CompositeTrip.visible.order('name ASC').each do |ctrip| %>
            <li class="menu-trip-list-item-composite-trip"><%= link_to ctrip.name, composite_trip_path(ctrip) %></li>
          <% end %>
          <% Trip.single.visible.order('name ASC').each do |trip| %>
            <li class="menu-trip-list-item-trip"><%= link_to trip.name, trip_path(trip) %></li>
          <% end %>
        </ul>
      </li>
      <li id="blog"><%= link_to "Blog", blog_categories_path, target: "_blank" %>
      <li id="captains"><%= link_to "Skipper", captains_path %></li>
      <li id="conditions"><%= link_to "Geschäftsbedingungen", static_page_path("reisebedingungen") %></li>
      <li id="inquiry"><%= link_to "Anfrage", new_general_inquiry_path %></li>
      <li id="partners"><%= link_to "Unsere Partner", partners_path %></li>
      <li id="imprint"><%= link_to "Impressum", static_page_path("impressum") %></li>
    </ul>
  </div>
</nav>